<div id="edit_user" class="modal">
  <div class="modal-content">
    <h4>Edit Profile</h4>
    <%= form_for @user, remote: true, authenticity_token: true, html: { method: :put }, id: 'edit_user', class: 'col s10 offset-s1' do |f| %>
      <div class="row">
        <span class="label col s2">Username</span>
        <div class="input-field inline col s6">
          <%= f.text_field :username, id: 'username', class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <span class="label col s3">
        <%= f.label :profile_photo %>
        <%= f.file_field :profile_photo %>
      </span>
        <div class="file-path-wrapper col s5 offset-s1">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="row button">
        <%= f.submit 'Update', class: 'modal-action modal-close wave-green btn-flat' %>
      </div>

    <% end %>
  </div>
</div>
