<div class="container">
  <div class="row">
    <img src="<%= @profile_photo %>" class="user-image" />
  </div>
  <div class="row">
    <h2>Hey <%= @user.username %>!</h2>
    <p>You were last here on <%= @user.last_signed_in_at %></p>
  </div>

  <div class="row">
    <h3>Your Projects</h3>

    <% @user.projects.each do |project| %>
      <p class="col s12">
        <span class="col s6"><%= project.title %></span>
        <span class="col s6">Created at: <%= project.created_at %></span>
      </p>
    <% end %>
  </div>
</div>
