<!DOCTYPE html>
<html>
  <head>
    <title>mytaskyfriend</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Chatrooms", chatrooms_path %>
          <% if user_signed_in? %>
            <li>Signed in as: </li>
            <li><%= link_to current_user.username, current_user, { style: 'inline'} %></li>
            <li><%= link_to "Sign Out", session_path(:current), method: :delete %></li>
          <% else %>
            <li>Not signed in.</li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
